@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #73737350 #171717;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #73737350;
  border-radius: 15px;
  border: 3px solid #171717;
}

hr {
  margin: 20px 0;
}
